<div class="question">
  <p><strong><%= @question %></strong></p>
  <p> - Your question</p>
</div>
<br>
<div class="answer">
  <p><strong><%= @answer %></strong></p>
  <p> - The coach's answer</p>
</div>

<hr>
<%= link_to "Ask a new question", ask_path %>
